.homecontainer {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.cards {
  width: 75%;
}
.rtcontainer {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.newshome{
  margin-top: 150px;
}