.tfds {
  margin-top: 20px;
  padding: 16px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #1425401a;
  border-radius: 8px;
  opacity: 1;
}

.tfdsheading {
  display: flex;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: 0.3rem;
  align-items: center;
}

.tspan {
  font-size: 18px;
  padding-left: 0.6rem;
  align-self: center;
  color: #54b5f5;
}

.tlist {
  height: 520px;
  overflow-y: scroll;
}
